<!-- append common header -->
<%- include('partials/_header'); %>

<!-- send data from cli to server -->

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <!-- List of all customers in our db -->
            <table class="table table-bordered table-hover">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <!-- loop through data[] object -->
                    <!-- it is named 'data' because, in customerController, 
                        the method 'res.render' says data:customers ... -->
                    <% if(data) { %>
                        <% for (let i=0; i<data.length; i++) { %>
                            <tr>
                                <!-- we put '=' to tell ejs to render the value on screen -->
                                <td><%= data[i].id %></td>
                                <td><%= data[i].name %> </td>
                                <td><%= data[i].address %> </td>
                                <td><%= data[i].phone %> </td>
                                <td>
                                    <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                                    <a href="/update/<%= data[i].id %>" class="btn btn-warning">Update</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <!-- name -->
                        <div class="form-group">
                            <input class="form-control" type="text" name="name"     placeholder="Name:" id="">
                        </div>
                        <!-- address -->
                        <div class="form-group">
                            <input class="form-control" type="text"     name="address" placeholder="Address:" id="">
                        </div>
                        <!-- phone -->
                        <div class="form-group">
                            <input class="form-control" type="text" name="phone"    placeholder="Phone number:" id="">
                        </div>
                        <!-- submit button -->
                        <button type="submit" class="btn btn-primary">
                            Save Customer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- append footer -->
<%- include('partials/_footer'); %>